.cell-color img.leagues-cup {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/7242');
    width: 30px;
    height: 25px;
}

.cell-color img.ligamxf {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/7143');
    width: 30px;
    height: 25px;
}

.cell-color img.ligamx {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/141');
    width: 30px;
    height: 25px;
}

.cell-color img.expansionmx {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/5514');
    width: 30px;
    height: 25px;
}

.cell-color img.expansionmx {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/5514');
    width: 30px;
    height: 25px;
}

.cell-color img.fifa {
    content: url('https://futbolgratisenhd.com/flags/fifa.webp');
    width: 30px;
    height: 25px;
}

.cell-color img.concacentro {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/7954');
    width: 30px;
    height: 25px;
}

.cell-color img.copadobrasil {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/115');
    width: 30px;
    height: 25px;
}

.cell-color img.ligabetplay {
    content: url('https://imagecache.365scores.com/image/upload/v2/Competitions/620');
    width: 30px;
    height: 25px;
}
