body {
    background: linear-gradient(#272B39, #131b24);
    color: white;
    font-family: Arial, sans-serif;
    min-width: 580px;
    background-attachment:fixed;
}

.event-container {
    width: 100%;
}

.event-info-player {
    position: sticky;
    top: 50px;
    display: none; /* Initially hidden */
}

.event-table {
    width: 100%;
    background-color: #22252a;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Courier New", monospace;
    font-size: 18px;
    margin-bottom: 20px;
}

.event-table th, .event-table td {
    padding: 5px;
    text-align: center;
    font-family: "sans-serif", monospace;
    font-size: 18px;
    color: burlywood;
}

.event-table th {
    color: #0fe3d1;
}

.event-table tbody tr:nth-child(odd) td {
    background-color: #00000042;
}

.event-table tbody tr:hover td {
    background-color: green;
}

.btn-link {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    background-color: transparent;
    color: #ffcc00;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.btn-link:hover {
    background-color: #ffcc00;
    color: #22252a;
    border-color: #22252a;
}

.btn-stream, .btn-copy {
    background-color: #277ea566;
    color: burlywood;
    border: none;
    padding: 4px 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.btn-stream:hover, .btn-copy:hover {
    background-color: #277ea566;
    color: #ff0000;
}

.event-table .cell-color {
    background-color: #18222d;
    cursor: pointer;
}

.event-table .btn-cell-color {
    background-color: #18222d;
}

#video-container {
    width: 100%;
    margin-top: 20px;
}

#video-player-container {
    width: calc(100% - 20px);
    min-height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#video-player-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

#iframe-code {
    width: 100%;
    margin-top: 10px;
}

#copy-button {
    display: block;
    margin-top: 10px;
}

#event-info {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: fit-content;
    margin: 0 auto;
    font-family: system-ui;
    font-size: x-large;
}

.menu-bar {
    background-color: #272B39;
    padding: 0px 0;
    margin-bottom: 20px;
}

.menu-bar ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.menu-bar ul li:last-child {
    margin-right: 0;
}

.menu-bar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 5px;
    font-family: none;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.menu-bar ul li a.active {
    background-color: #18222d;
    border-color: #c4cbcf;
    font-weight: bold;
}

.menu-bar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: background-color 0.5s, transform 0.5s; 
    transform: scaleX(0);
    transform-origin: left;
}

.menu-bar ul li a:hover::after {
    background-color: #1ae620; 
    transform: scaleX(1);
}

.event-container {
    margin-top: 20px;
}

.stream-options {
    display: none;
    background-color: #18222d;
}

.stream-options .btn-stream {
    display: inline-block;
    margin: 5px;
}


.reproductor {
box-sizing: border-box;
max-inline-size: 930px;
margin: auto;
padding: 8px;
text-align: center;
vertical-align: baseline;
}

.cell-color {
    background-color: #18222d;
    cursor: pointer;
    position: relative;
}
