body {
    font-size: 100%;
    background: #fff
}


.cookie-notice {
    display: none !important;
}

#cookieChoiceInfo {
    display: none;
}
#event-list {
    margin-top: 70px; /* Ajusta este valor según la altura de tu header fijo */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* Cambia el color de fondo si es necesario */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    padding: 10px; /* Espaciado para que se vea mejor */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para dar un efecto de profundidad */
}

body {
    font-size: 100%;
    background: #000000
}

a {
    text-decoration: none
}

ul,
ul ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#wraper {
    width: 100%;
    margin: 0 auto;
    font-size: .8125em
}

.menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .73), 0 0 18px 0 rgba(0, 0, 0, .1)
}

.menu>li>a {
    background-color: #000000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(19, 19, 19), rgb(19, 19, 19));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 0 solid #33373d;
    -webkit-box-shadow: inset 0 1px 0 0 #878e98;
    -moz-box-shadow: inset 0 1px 0 0 #878e98;
    box-shadow: inset 0 1px 0 0 #878e98;
    width: 100%;
    height: 2.8em;
    line-height: 2.8em;
    text-indent: 6.9em;
    display: block;
    position: relative;
    font-family: arial, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 1em;
    text-shadow: 0 0 0 #000
}

.menu ul li a {
    background: #2A2A2A;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.8em;
    line-height: 2.8em;
    text-indent: 3.75em;
    display: block;
    position: relative;
    font-family: "Arial", Arial, Helvetica, sans-seri;
    font-size: 1em;
    font-weight: 500;
    color: #AFAFAF;
}

.menu>li>a:hover,
.menu>li>a.active {
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #007702, #007702);
    border-bottom: 1px solid #404040;
    box-shadow: inset 0 1px 0 0 #404040;
}

.menu>li>a.active {
    border-bottom: 0 solid #404040
}

@media only screen and (max-width: 600px) {
    .menu>li>a:before {
        left: 22px;
    }
}

.menu>li>a:before {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 25px;
    height: 0.8em;
    width: 2.4em;
    position: absolute;
    left: 55px;
    top: 55%;
    margin: -.45em 0 0;
}

.menu>li>a span {
    font-size: .95em;
    display: inline-block;
    position: absolute;
    left: .3em;
    top: 50%;
    background: #fff;
    line-height: 1em;
    height: 1em;
    padding: .3em .6em;
    margin: -.8em 0 0;
    color: #222d36;
    text-indent: 0;
    text-align:
        center;
    -webkit-border-radius: .769em;
    -moz-border-radius: .769em;
    border-radius: .569em;
    -webkit-box-shadow:
        inset 0 1px 3px 0 rgba(0, 0, 0, .16), 0 1px 0 0 rgba(63, 68, 74, .1);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .16), 0 1px 0 0 rgba(63, 68, 74, .1);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .16), 0 1px 0 0 rgba(63, 68, 74, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    font-weight: 500
}

.menu>li>a:hover span,
.menu>li a.active span {
    background: 404040
}

.menu>li>ul li a:before {
    content: '\25B6';
    font-family: Arial, sans-serif;
    font-size: 9px;
    color: #000;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: -2.7em;
}

.menu ul li:last-child a {
    border-bottom: 1px solid #33373d
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #128300);
    border-radius: 6px;
}

.menu>li>ul li:hover a,
.menu>li>ul li:hover a span,
.menu>li>ul li:hover a:before {
    color: #2e9afe
}

.menu ul>li>a span {
    font-size: .857em;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: 50%;
    background: #fff;
    border: 1px solid #d0d0d3;
    line-height: 1em;
    height: 1em;
    padding: 0.4em 0.7em;
    margin: -0.9em 0 0;
    color: #000;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: 0.769em;
    -moz-border-radius: 769em;
    border-radius: 769em;
    text-shadow: 0 0 0 rgba(255, 255, 255, .01);
}

div.sombreada_css3 {
    background-color: #000000;
    width: 100%px;
    padding: 12px;
    color: #002399;
    box-shadow: 0px 1px 1px #333;
    -webkit-box-shadow: 0px 1px 1px #333;
    -moz-box-shadow: 0px 1px 1px #333;
}


.VOLLEYBALL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/voley.png);
}

.MOTORSPORT>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/motorsport.png);
}

.MOTORCYCLERACING>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/motorcycle2.png);
}

.BASKETBALL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/bas.png);
}

.SOCCER>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/soccer.png);
}

.FUTSAL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/futsala.png);
}

.HANDBALL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/handball.png);
}

.TENNIS>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/te.png);
}

.HOCKEY>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/hockey.png);
}

.BASEBALL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/baseball.png);
}

.GOLF>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/golf.png);
}

.BILLIARD>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/billiard.png);
}

.RUGBY>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/rug.png);
}

.BOXING>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/box.png);
}

.COMBATSPORT>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/mma.png);
}

.AMERICANFOOTBALL>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/americanfutbol.png);
}

.LACROSSE>a:before {
    background-image: url(https://mexitv.webcindario.com/banderas/lacrosse.png);
}

