body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Cambiamos la dirección a columna para apilar los elementos verticalmente */
    height: 86vh;
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-degradado-oscuro-espacio-copia_53876-99548.jpg); /* Cambia el color de fondo de la página */
    margin: 0;
    background-size: 2350px 1300px;
    
}

.flashcard-container {
    background-color: rgba(0, 0, 0, 0.11); /* Cambia el color de la flashcard */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.068);
    text-align: center;
    width: 300px;
    padding-right: 40px;
    backdrop-filter: blur(10px);
}

.header-container {
    text-align: center;
    margin-bottom: 20px; /* Añadimos espacio entre el encabezado y las flashcards */
}

h1 {
    margin: 0; /* Elimina márgenes innecesarios */
    font-size: 24px;
    color: white; /* Cambia el color del título */
}

#counter {
    font-size: 18px;
    color: white; /* Cambia el color del contador */
    margin-top: 10px;
}

#flashcard-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#answer-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc0e;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.808);
}

#check-button {
    padding: 10px 20px;
    background-color: #007bff; /* Cambia el color del botón */
    color: white; /* Cambia el color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.retry-button {
    padding: 10px 20px; 
    font-size: 16px; 
    margin-top: 20px; 
    background-color: #007bff; 
    color: white; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px;
}

.retry-button:hover {
    background-color: #0056b3; /* Cambia el color del botón al pasar el mouse */
}

#check-button:hover {
    background-color: #0056b3; /* Cambia el color del botón al pasar el mouse */
}

#result-message {
    margin-top: 10px;
    font-weight: bold;
}
